<!-- templates/index.html -->

{% extends '_base.html' %}
{% load product_list_tags %}

{% block title %}
  Elding
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <style>
    .swiper {
      padding-top: 25%;
      position: relative;
    }

    .swiper-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      border-radius: 8px; /* Adjust the radius as needed */
    }
  </style>
{% endblock %}

{% block content %}

  <div class="bg-none m-4">
    <div class="swiper mySwiper w-full md:flex md:items-center md:justify-between">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="media/banner_1.png" alt="Slide 1"></div>
        <div class="swiper-slide"><img src="media/banner_2.png" alt="Slide 2"></div>
        <div class="swiper-slide"><img src="media/banner_3.png" alt="Slide 3"></div>
        <div class="swiper-slide"><img src="media/banner_4.png" alt="Slide 4"></div>
        <div class="swiper-slide"><img src="media/banner_5.png" alt="Slide 5"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  {% product_list_tag products_with_images %}

{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  {% comment %}script from static js{% endcomment %}

  <script>
    var swiper = new Swiper('.mySwiper', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    });
  </script>
{% endblock %}
